.block-language-iron-vault-clock {
  container: iron-vault-clock / inline-size;
}
.iron-vault-clock {
  margin: 0.5em auto;
  & .clock-widget {
    & .clock-segment {
      vector-effect: non-scaling-stroke;
    }
    max-width: 200px;
    @container iron-vault-clock (min-width: 300px) {
      max-width: 300px;
    }
    pointer-events: none;
    fill: orange;
    fill: var(--interactive-accent);
    fill-opacity: 1;
    stroke: orange;
    stroke: var(--interactive-normal);
    stroke-width: 4;
    aspect-ratio: 1;

    &:hover {
      fill-opacity: 0.8;

      & .clock-segment {
        &:hover {
          fill: var(--interactive-accent-hover);
          & ~ .clock-segment {
            fill-opacity: 0;
          }
        }
      }
    }

    &:not(:hover) {
      & .clock-segment {
        fill-opacity: 1;

        &[aria-selected="true"] {
          & ~ .clock-segment {
            fill-opacity: 0;
          }
        }
      }
    }

    &[aria-valuenow="0"]:not(:hover) {
      & .clock-segment {
        fill-opacity: 0;
      }
    }

    & .clock-segment {
      transition: fill 0.3s ease;
      cursor: pointer;
      pointer-events: visible;

      &:active {
        fill-opacity: 1;
      }
    }
  }
}
