*:has(> .iron-vault-track) {
  container: iron-vault-track / inline-size;
}
.iron-vault-track {
  margin: 0.5em auto;
  max-width: 460px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  /* NB(@zkat): Fix some obnoxious Obsidian styles */
  & ul > li, & ol > li {
    margin-inline-start: 0;
  }
  @container iron-vault-track (min-width: 460px) {
    max-width: 640px;
  }
  @container iron-vault-track (min-width: 640px) {
    max-width: 768px;
  }
  & .track-xp {
    font-weight: var(--font-semibold);
    &:before {
      content: "+";
    }
    &:after {
      content: " XP";
    }
  }
  & .track-name {
    font-size: 1.6em;
    font-weight: var(--font-semibold);
  }
  & .track-name,
  & .track-name * {
    margin: 0;
  }
  & .track-rank,
  & .track-type,
  & .track-xp {
    color: var(--text-muted);
  }
  & > .track-widget {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 240px;
    @container iron-vault-track (min-width: 460px) {
      flex-wrap: nowrap;
    }
    & > ol {
      width: 100%;
      padding: 0;
      margin: 0;
      @container iron-vault-track (min-width: 460px) {
        width: auto;
      }
    }
    & > button,
    & > input,
    & > span {
      order: 1;
      @container iron-vault-track (min-width: 460px) {
        order: 0;
      }
    }
    & > button:last-of-type {
      order: 2;
      @container iron-vault-track (min-width: 460px) {
        order: 0;
      }
    }
    & > span,
    & > input {
      flex-grow: 1;
    }
    & > input {
      margin-left: 5em;
      @container iron-vault-track (min-width: 460px) {
        margin-left: auto;
      }
      max-width: 3em;
    }
    align-items: center;
    & input,
    & button,
    & li,
    & span {
      overflow-wrap: normal;
      text-wrap: nowrap;
      width: 24px;
      height: 24px;
      font-size: 16px;
      @container iron-vault-track (min-width: 460px) {
        height: 32px;
        width: 32px;
      }
      @container iron-vault-track (min-width: 640px) {
        height: 42px;
        width: 42px;
        font-size: 25px;
      }
    }
    & input {
      margin-left: 0.3em;
      margin-right: 0.3em;
      text-align: center;
      border-radius: 5px;
      border: none;
    }
    & ol {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding-inline-start: 0;
    }
    & li {
      text-indent: -9999px;
      background-repeat: no-repeat;
      list-style-type: none;
      &[data-value="0"] {
        background-image: url("img/ProgressBoxes/progress-box-0.svg");
      }
      &[data-value="1"] {
        background-image: url("img/ProgressBoxes/progress-box-1.svg");
      }
      &[data-value="2"] {
        background-image: url("img/ProgressBoxes/progress-box-2.svg");
      }
      &[data-value="3"] {
        background-image: url("img/ProgressBoxes/progress-box-3.svg");
      }
      &[data-value="4"] {
        background-image: url("img/ProgressBoxes/progress-box-4.svg");
      }
    }
  }
}
