*:has(> .iron-vault-track) {
  container: iron-vault-track / inline-size;
}
.iron-vault-track {
  margin: 0.5em auto;
  max-width: 460px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  @container iron-vault-track (min-width: 460px) {
    max-width: 640px;
  }
  @container iron-vault-track (min-width: 640px) {
    max-width: 768px;
  }
  & .track-name {
    font-size: 1.6em;
    font-weight: var(--font-semibold);
  }
  & .track-name, & .track-name * {
    margin: 0;
  }
  & .track-rank,
  & .track-type {
    color: var(--text-muted);
  }
  > .track-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    & input,
    & button,
    & li,
    & span {
      overflow-wrap: normal;
      text-wrap: nowrap;
      width: 20px;
      height: 20px;
      font-size: 12px;
      @container iron-vault-track (min-width: 460px) {
        height: 32px;
        width: 32px;
        font-size: 16px;
      }
      @container iron-vault-track (min-width: 640px) {
        height: 42px;
        width: 42px;
        font-size: 25px;
      }
    }
    & input {
      margin-left: 0.3em;
      margin-right: 0.3em;
      text-align: center;
      border-radius: 5px;
      border: none;
    }
    & ol {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding-inline-start: 0;
    }
    & li {
      text-indent: -9999px;
      background-repeat: no-repeat;
      list-style-type: none;
      &[data-value="0"] {
        background-image: url("img/ProgressBoxes/progress-box-0.svg");
      }
      &[data-value="1"] {
        background-image: url("img/ProgressBoxes/progress-box-1.svg");
      }
      &[data-value="2"] {
        background-image: url("img/ProgressBoxes/progress-box-2.svg");
      }
      &[data-value="3"] {
        background-image: url("img/ProgressBoxes/progress-box-3.svg");
      }
      &[data-value="4"] {
        background-image: url("img/ProgressBoxes/progress-box-4.svg");
      }
    }
  }
}
