.iron-vault-mechanics .actor {
  border-width: 2px 0 2px 0;
  border-style: dashed;
  border-color: var(--background-modifier-border);
  margin: 0.4em 0;
  & > header {
    padding: 0.4em;
    & > * {
      &:before {
        content: "👤";
      }
      margin: 0;
    }
  }
  & + .actor {
    border-width: 0 0 2px 0;
  }
}
