.iron-vault-mechanics .move .detail {
  --blockquote-background-color: var(--background-secondary-alt);
}
.iron-vault-mechanics .detail {
  color: var(--text-muted);
  --blockquote-background-color: var(--background-secondary);
  --blockquote-color: var(--text-muted);
  border-radius: 10px;
  & .markdown-wrapper > :first-child {
    margin-left: 0.5em;
    padding-left: 1.2em;
  }
  & .markdown-wrapper > :first-child:not(blockquote) {
    display: inline;
  }
}
