.forged-move dl.reroll {
  &:before {
    content: "🎲🔁";
    margin-right: 0.5em;
  }
  & dd {
    &.action-die {
      &:has(~ .action-die) {
        &:before {
          content: "(act: ";
        }
      }
      &:not(:has(~ .action-die)):after {
        content: ") ";
      }
    }
    &.challenge-die {
      &.from:before {
        content: "(vs: ";
      }
      &.to {
        &:before {
          content: none;
        }
        &:after {
          content: ") ";
        }
      }
    }
    &.outcome {
      display: none;
    }
  }
}
