.iron-vault-mechanics dl.roll {
  &:before {
    content: "🎲";
  }
  &.progress .track-name:before {
    content: "(progress) ";
  }
  & dd {
    &.stat:before {
      content: " + ";
    }
    &.stat-name {
      color: var(--text-faint);
      &:before {
        content: " (";
      }
      &:after {
        content: ")";
        padding-right: 0;
        margin-right: 0;
      }
    }
    &.adds:before {
      content: " + ";
    }
    &.challenge-die {
      &:not(:has(~ .challenge-die)) {
        padding: 0;
      }
    }
    &.outcome {
      display: none;
    }
  }
}
