.forged-move dl {
  & dt {
    display: none;
  }
  & dd {
    margin: 0;
    padding: 0 0.2em;
    display: inline;
    font-weight: var(--font-semibold);
    &:before, &:after {
      color: var(--text-faint);
    }
  }
  &:after {
    font-weight: var(--font-semibold);
    padding-left: 0.5em;
  }
  &.match:after {
    content: "✅";
  }
  &.strong-hit {
    & .score, & .progress-score {
      color: var(--text-success);
    }
  }
  &.weak-hit {
    & .score, & .progress-score {
      color: var(--text-warning);
    }
  }
  &.miss {
    & .score, & .progress-score {
      color: var(--text-error);
    }
  }
}
