.forged-mechanics dl.add {
  &:before {
    content: "➕";
  }
  & dd {
    &.amount {
      &:before {
        color: var(--text-faint);
      }
      &.positive {
        color: var(--text-success);
        &:before {
          content: "Add +";
        }
      }
      &.negative {
        color: var(--text-error);
        &:before {
          content: "Subtract -";
        }
      }
    }
    &.from {
      &:before {
        content: " (";
      }
      &:after {
        content: ")";
      }
    }
  }
}

