.iron-vault-mechanics dl.impact {
  &:before {
    content: "💥";
  }
  & dd.impact-marked {
    display: none;
  }
  &:has(.impact-marked[data-value="false"]) {
    & dd.impact-name::after {
      color: var(--text-success);
      content: " unmarked ⬡";
    }
  }
  &:has(.impact-marked[data-value="true"]) {
    & dd.impact-name::after {
      color: var(--text-error);
      content: " marked ⬢";
    }
  }
  & dd {
    &.impact-name {
      &::before {
        content: "Impact ";
      }
    }
  }
}
