.forged-move dl.reroll {
  &:before {
    content: "🔁";
    margin-right: 0.5em;
  }
  & dd {
    &.action-die {
      &:has(~ .action-die) {
        &:before {
          content: "(action: ";
        }
        &:after {
          content: " →";
        }
      }
      &:not(:has(~ .action-die)):after {
        content: ")";
      }
    }
    &.challenge-die {
      color: var(--text-accent);
      &:has(~ .challenge-die) {
        &:before {
          content: "(challenge: ";
        }
        &:after {
          content: " →";
        }
      }
      &:not(:has(~ .challenge-die)):after {
        content: ")";
      }
    }
    &.score:before {
      content: "= ";
    }
    &.outcome {
      display: none;
    }
  }
}
