.forged-mechanics dl {
  &:before {
    margin-right: 0.5em;
  }
  &:after {
    font-weight: var(--font-semibold);
    padding-left: 0.5em;
  }
  &.match:after {
    content: "✅";
  }
  & dt {
    display: none;
  }
  & dd {
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: var(--font-semibold);
    & * {
      display: inline;
    }
    &.challenge-die {
      color: var(--text-accent);
      &:has(~ .challenge-die):before {
        content: " vs ";
      }
      &:not(:has(~ .challenge-die)):before {
        content: " | ";
      }
    }
    &.score, &.progress-score {
      &:before {
        content: " = ";
      }
    }
    &.from:after {
      content: " → ";
    }
    &:before,
    &:after {
      color: var(--text-faint);
    }
  }
  &.strong-hit {
    & dd.score,
    & dd.progress-score {
      color: var(--text-success);
    }
  }
  &.weak-hit {
    & dd.score,
    & dd.progress-score {
      color: var(--text-warning);
    }
  }
  &.miss {
    & dd.score,
    & dd.progress-score {
      color: var(--text-error);
    }
  }
}
