.iron-vault-mechanics dl.track-status {
  &:before {
    content: "â";
  }
  & dd {
    &.track-name:has(~ .track-status[data-value="added"]) {
      &:before {
        content: "Track added: ";
      }
    }
    &.track-name:has(~ .track-status[data-value="removed"]) {
      &:before {
        content: "Track removed: ";
      }
    }
    &.track-status {
      display: none;
    }
  }
}
