.iron-vault-mechanics details.move {
  background-color: var(--background-secondary-alt);
  margin: 0.5em auto;
  border: 1px solid var(--color-base-30);
  border-radius: 10px;
  box-shadow: var(--shadow);
  & > :not(:nth-child(1)) {
    margin: 1em;
  }
}
