.iron-vault-mechanics .oracle-group {
  &:before {
    content: "🔮🔁";
    margin-right: 0.5em;
  }
  & > :first-child {
    display: inline;
  }
  & > blockquote {
    margin-left: 0.5em;
    padding-left: 1.2em;
    border-left-style: dashed;
  }
}
