.forged-mechanics p {
  &:before {
    margin-right: 0.5em;
  }

  &.detail {
    & > :first-child {
      margin-left: 0.5em;
      padding-left: 1.2em;
    }
    & *:first-child:not(blockquote) {
      display: inline;
    }
  }

  &.error {
    opacity: 0.825;
    &:before {
      content: "❌";
    }
  }

  &.add {
    & > :first-child {
      display: inline;
    }
    &:before {
      content: "➕";
    }
  }
}
