.forged-move p {
  font-weight: var(--font-semibold);

  &:before {
    margin-right: 0.5em;
  }

  &.detail {
    & > :first-child {
      display: inline;
    }
    &:before {
      content: "➡️";
    }
  }

  &.error {
    opacity: 0.825;
    &:before {
      content: "❌";
    }
  }

  &.add:before {
    content: "➕";
  }
}
