.forged-mechanics .progress {
  &:before {
    content: "🚀";
  }
  & dd {
    &.track-name {
      &:after {
        content: ": ";
      }
    }

    &.steps {
      &.positive {
        color: var(--text-success);
      }
      &.negative {
        color: var(--text-error);
      }
      &:before {
        color: var(--text-normal);
      }
      &.positive:before {
        color: var(--text-success);
        content: "+";
      }
      &.negative:before {
        color: var(--text-error);
        content: "-";
      }
    }

    &.level {
      text-transform: capitalize;
      color: var(--text-faint);
      &:before {
        content: " (";
      }
      &:after {
        content: ") = ";
      }
    }

    &.from-boxes,
    &.from-ticks,
    &.to-boxes,
    &.to-ticks {
      color: var(--text-accent);
    }

    &.from-boxes:after,
    &.to-boxes:after {
      content: "b/";
    }

    &.from-ticks:after {
      content: "t → ";
    }

    &.to-ticks:after {
      content: "t";
    }
  }
}
