.forged-move {
  &[open] summary:has(+ *) {
    border-bottom: 1px dashed var(--color-base-50);
  }
  &.strong-hit summary > :first-child:after {
    background-image: url("img/Outcomes/outcome-strong-hit.svg");
  }
  &.weak-hit summary > :first-child:after {
    background-image: url("img/Outcomes/outcome-weak-hit.svg");
  }
  &.miss summary > :first-child:after {
    background-image: url("img/Outcomes/outcome-miss.svg");
  }
  & summary {
    display: block;
    border: none;
    width: 100%;
    padding: 0 1em;
    text-align: left;
    font-weight: var(--font-extrabold);
    & > :first-child:after {
      content: " ";
      float: right;
      margin-left: auto;
      background-repeat: no-repeat;
      height: 30px;
      width: 50px;
    }
  }

}
