.forged-move {
  &[open] summary:has(+ *) {
    border-bottom: 1px dashed var(--color-base-50);
  }
  &.strong-hit summary > :first-child:after {
    background-image: url("img/Outcomes/outcome-strong-hit.svg");
  }
  &.weak-hit summary > :first-child:after {
    background-image: url("img/Outcomes/outcome-weak-hit.svg");
  }
  &.miss summary > :first-child:after {
    background-image: url("img/Outcomes/outcome-miss.svg");
  }
  &.match summary > :first-child:after {
    content: "✅";
  }

  & summary {
    display: block;
    border: none;
    min-height: 2em;
    width: 100%;
    padding: 0.5em 1em;
    text-align: left;
    font-weight: var(--font-extrabold);
    & > button:last-child {
      margin-left: 1em;
      margin-top: -0.2em;
    }
    & * {
      display: inline;
    }
    & > :first-child {
      padding: 0;
      margin: 0;
    }
    & > :first-child:after {
      content: " ";
      float: right;
      margin-left: auto;
      background-repeat: no-repeat;
      background-position: right;
      height: 1.5em;
      width: 4.2em;
    }
  }
}
