/.targetdir
node_modules/
/dist/
/main.js
/main.js.map
/styles.css
/data.json

# Ignore .obsidian
# No one will commit these files, they just spam 'git status'
/test-vault/.obsidian/*
docs/.obsidian/plugins/iron-vault
docs/.obsidian/workspace.json
# Tells obsidian what plugins are enabled
!test-vault/.obsidian/community-plugins.json
# Include hot-reload plugin to be tracked by git.
# Note that negating an exclusion only works for a direct subdirectory,
# not deeper nested directories, i.e. plugins/ but not plugins/hot-reload/
# To include plugins/hot-reload/, we first need to include plugins/ itself,
# instantly exclude everything from it again, and then explicitly include
# its hot-reload/ subdirectory.
!test-vault/.obsidian/plugins
test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/hot-reload

# Don't track this folder. For random things to try.
# If it's important to test, add it somewhere where other
# people can test it too.
test-vault/**/untracked/*
!test-vault/**/untracked/README.md
