.iron-vault-oracles-list {
  & li.ruleset {
    & > details > summary {
      font-size: 1.4em;
      border-bottom: 1px solid var(--background-secondary);
    }
    background-color: var(--background-secondary);
    & > .content {
      padding: 0;
    }
    & li:has(+ li) {
      border-bottom: 1px solid var(--background-secondary);
    }
  }
  & .oracle-group li.oracle-item {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    border-radius: 10px;
    transition: background-color 200ms ease;
    &:hover {
      background-color: var(--background-modifier-hover);
    }
    &:active {
      background-color: var(--background-modifier-active-hover);
    }
    & > span {
      flex-grow: 1;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      gap: 0.4em;
    }
  }
  & .ruleset > .content {
    padding: 0 !important;
  }
}
