@import url("oracles.css");
@import url("moves.css");
@import url("tab-content-shared.css");

[data-type="iron-vault-sidebar-view"] {
  & .view-content {
    padding: 0;
    & > :first-child {
      padding: 0.5em;
    }
  }
}

.iron-vault-sidebar-view {
  & .search-box {
    width: 100%;
    height: 2em;
    font-size: 1.2em;
  }
  &.tabs {
    position: relative;
    min-height: 100%;
    clear: both;
    margin: 25px 0;
  }
  & > .tab {
    float: left;
    & > label {
      font-size: 1.1em;
      font-weight: var(--font-semibold);
      background-color: var(--background-primary-alt);
      padding: 0.5em;
      border: 2px solid var(--background-modifier-border);
      margin-left: -1px;
      position: relative;
      left: 1px;
      transition: background-color 200ms ease;
      &:hover {
        background-color: var(--background-modifier-hover);
      }
      &:active {
        background-color: var(--background-modifier-active-hover);
      }
    }
    & > [type="radio"] {
      display: none;
      & ~ .content {
        display: none;
      }
      &:checked ~ label {
        z-index: 2;
        background-color: var(--background-secondary-alt);
        &:hover {
          background-color: var(--background-modifier-hover);
        }
        &:active {
          background-color: var(--background-modifier-active-hover);
        }
        & ~ .content {
          z-index: 1;
          display: block;
        }
      }
    }
  }
}
