@import url("oracles.css");
@import url("moves.css");
@import url("tab-content-shared.css");

[data-type="iron-vault-sidebar-view"] {
  & .view-content {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    & > :first-child {
      padding: 0.5em 0;
    }
  }
}

.iron-vault-sidebar-view {
  & .search-box {
    width: 100%;
    height: 2em;
    font-size: 1.2em;
  }
  &.tabs {
    clear: both;
    padding: 25px 0;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
  }
  & > .tab {
    & > label {
      font-size: 1.1em;
      font-weight: var(--font-semibold);
      background-color: var(--background-primary-alt);
      padding: 0.5em;
      border: 2px solid var(--background-modifier-border);
      margin: 0;
      left: 1px;
      transition: background-color 200ms ease;
      z-index: 3;
      &:hover {
        background-color: var(--background-modifier-hover);
      }
      &:active {
        background-color: var(--background-modifier-active-hover);
      }
    }
    & > [type="radio"] {
      display: none;
      & ~ .content {
        overflow-y: auto;
        display: none;
      }
      &:checked ~ label {
        background-color: var(--background-secondary-alt);
        &:hover {
          background-color: var(--background-modifier-hover);
        }
        &:active {
          background-color: var(--background-modifier-active-hover);
        }
        & ~ .content {
          z-index: 1;
          display: block;
        }
      }
    }
  }
}
