.iron-vault-character .impact-categories {
  flex-flow: row wrap;
  /* NB(@zkat): Fix some obnoxious Obsidian styles */
  & ul > li, & ol > li {
    margin-inline-start: 0;
  }
  &,
  & ul {
    padding-inline-start: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0.4em;
    list-style: none;
  }
  & > li {
    border: 2px solid var(--background-modifier-border);
    border-radius: 8px;
    background-color: var(--background-primary-alt);
    margin: 0.5em;
    & > header {
      font-weight: var(--font-bold);
      text-transform: uppercase;
      font-size: 0.6em;
      width: 100%;
      text-align: center;
      padding: 0.4em;
    }
  }
  & ul {
    padding: 0.5em;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column nowrap;
    & > li {
      height: 1.4em;
      padding: 0;
    }
  }
  & label > span {
    font-size: 0.6em;
  }
}
