@import url("oracles.css");
@import url("moves.css");
@import url("tab-content-shared.css");

[data-type="iron-vault-sidebar-view"] {
  & .view-content {
    padding: 0;
    & > :first-child {
      padding: 0.5em 0;
    }
  }
}

.iron-vault-sidebar-view {
  font-size: var(--font-ui-small);
  & .character-tab {
    padding: var(--size-4-2);

    & > select {
      width: 100%;
    }
  }

  & .character-tab > .markdown-wrapper > p > .markdown-embed {
    --embed-padding: 1em;
  }
  &.tabs {
    clear: both;
    /* display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
 */
    & > .content {
      overflow-y: scroll;

      /* Buffer from the status bar (matches what the official Obsidian tabs use) */
      padding-bottom: var(--size-4-8);

      display: none;

      &.is-active {
        display: block;
        z-index: 1;
      }
    }
  }
}
