.iron-vault-mechanics dl.asset {
  &:before {
    content: "💎";
  }
  &:has(.asset-status[data-value="added"]) {
    & dd.asset-status {
      color: var(--text-success);
    }
  }
  &:has(.asset-status[data-value="removed"]) {
    & dd.asset-status {
      color: var(--text-error);
    }
  }
  &:has(.asset-status[data-value="upgraded"]) {
    & dd.asset-status {
      color: var(--text-warning);
    }
  }
  & dd {
    &.asset-name {
      &::before {
        content: "Asset ";
      }
      &::after {
        content: " ";
      }
    }
    &.asset-ability {
      &::before {
        content: " with ability #";
      }
    }
  }
}
