.iron-vault-asset-card {
  border: 2px solid var(--background-modifier-border);
  padding: 0;
  border-radius: 8px;
  width: 300px;
  background-color: var(--background-primary);
  & dl,
  dt,
  dd,
  ul {
    padding: 0;
    margin: 0;
  }
  & > header {
    position: relative;
    padding: 0.5em;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    border-bottom: 2px solid var(--background-modifier-border);
    padding-bottom: 0.2em;
    & dl {
      & dt {
        display: none;
      }
      & .category {
        font-size: 0.8em;
        color: var(--text-accent);
      }
      & img {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
      }
    }
  }
  & .options {
    padding: 0;
    & > ul {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.4em;
      list-style: none;
      & > li {
        width: 100%;
      }
      & dt {
        padding-right: 0.4em;
      }
      & label {
        font-size: 0.6em;
        color: var(--text-muted);
        & select,
        input {
          padding: 0.4em;
          width: 100%;
        }
        & select,
        option {
          text-transform: uppercase;
          font-weight: var(--font-bold);
        }
      }
    }
  }
  & .abilities {
    padding: 0.2em;
    font-size: 0.8em;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4em;
    & label {
      text-transform: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start !important;
    }
  }
  & .condition-meter > .controls {
    flex-flow: row wrap;
  }
  & .controls-section {
    padding-bottom: 0.4em;
  }
  & .controls {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.8em;
    text-transform: uppercase;
    gap: 0.5em;
    & dt {
      display: none;
    }
    & dl,
    & dt,
    & dd {
      margin: 0;
      padding: 0 0.5em;
    }
    & .condition-meter {
      padding: 0.2em;
      width: 100%;
      & > .meter {
        border: 1px solid var(--interactive-normal);
        border-radius: 8px;
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 0;
        display: flex;
        flex-flow: flex-row nowrap;
        & li {
          display: flex;
          flex-flow: row nowrap;
          &:last-child {
            border-radius: 0 8px 8px 0;
          }
          & > span {
            font-weight: var(--font-semibold);
            padding: 0 0.4em;
          }
          &:has(> label > input[type="radio"]) {
            flex-grow: 1;
            background-color: var(--interactive-normal);
            &:hover {
              background-color: var(--interactive-hover);
            }
            &:not(:last-child) {
              border-right: 2px solid var(--background-primary);
            }
          }
          &:has(> label > input[type="radio"]:checked) {
            background-color: var(--interactive-accent);
          }
          & > label {
            flex-grow: 1;
            display: flex;
            flex-flow: row nowrap;
          }
          & > label > span {
            height: 1.6em;
            flex-grow: 1;
            font-weight: var(--font-bold);
            text-align: center;
            vertical-align: center;
            &::before {
              content: "+";
              font-weight: var(--font-bold);
            }
          }
        }
      }
      & > .controls {
        & dd,
        & dt,
        & dl {
          padding: 0;
        }
      }
      & input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
