.iron-vault-character .assets {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.4em;
  /* NB(@zkat): Fix some obnoxious Obsidian styles */
  & ul > li, & ol > li {
    margin-inline-start: 0;
  }
}
