.iron-vault-character section.character-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  & .name input {
    font-size: 1.6em;
    height: 1.6em;
    font-weight: var(--font-semibold);
    padding-bottom: 0.5em;
    background-color: transparent;
    max-width: 340px;
    text-align: center;
    border: none;
  }
  & dl,
  & dt,
  & dd {
    margin: 0;
    padding: 0;
  }
  & dl {
    display: grid;
    max-width: 460px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0.2em;
    align-items: end;
    & dt {
      vertical-align: bottom;
      font-weight: var(--font-semibold);
      font-size: 0.8em;
      text-transform: uppercase;
      color: var(--text-faint);
      grid-row-start: 5;
      &:has(~ .description) {
        grid-row-start: 1;
      }
    }
    & dd input {
      padding: 0.4em;
      width: 100%;
      font-size: 1em;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--background-modifier-border);
      border-radius: 0;
      &:focus {
        border-radius: var(--input-radius);
      }
    }
    & dt:has(+ .description),
    & dd.description {
      grid-column: 1 / span 2;
    }
    & dt:has(+ .description) {
      grid-row-start: 3;
    }
    & dd.description {
      grid-row-start: 4;
    }
    & dd.xp-earned {
      padding-left: 0.4em;
    }
  }
}
