@import url("assets.css");
@import url("asset-card.css");
@import url("impacts.css");
@import url("meters.css");
@import url("special_tracks.css");
@import url("stats.css");

.iron-vault-character {
  & > .name {
    width: 100%;
    text-align: center;
    &:after {
      /* Some themes, like ITS Theme, try to put stuff here. Make it go away. */
      display: none;
    }
  }
  & label {
    cursor: pointer;
    text-transform: uppercase;
  }
  & label:has(> input[type="checkbox"]) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: var(--font-semibold);
  }
  & label > input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    border: none !important;
    background-color: transparent !important;
    width: 1.4em;
    height: 2em;
    margin: 0;
    margin-left: 0.5em;
    &:focus-visible {
      box-shadow: none;
      outline-offset: initial;
    }
    &:checked {
      &::after {
        content: "⬢";
      }
    }
    &::after {
      margin: 0;
      padding: 0;
      -webkit-mask-image: none;
      mask-image: none;
      font-size: 1.8em;
      content: "⬡";
      height: auto;
      width: auto;
      text-align: center;
      background-color: transparent;
    }
  }
}
