.iron-vault-character .stats {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  text-transform: uppercase;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  & li {
    &:before {
      /* Some themes (Like ITS Theme) try to be more clever than they deserve
      to be with list bullets. Make that b.s. go away. */
      display: none;
    }
    background-color: var(--background-secondary);
    border-radius: 8px;
    border: 2px solid var(--background-modifier-border);
    margin: 0;
    width: 5em;
    height: 4.5em;
  }
  & dl {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    & dt,
    dd {
      margin: 0;
      padding: 0;
    }
    & dt {
      font-size: 0.8em;
      width: 100%;
      text-align: center;
      padding: 0.2em 0;
      border-bottom: 2px solid var(--background-modifier-border);
    }
    & dd {
      font-size: 1.6em;
    }
  }
}
