@import url("mechanics/css/mechanics.css");
@import url("sidebar/css/sidebar.css");
@import url("oracles/css/oracles.css");

.theme-light {
  --color-code: 0, 0, 0;
}

.theme-dark {
  --color-code: 255, 255, 255;
}

.forged-suggest-hint {
  color: var(--color-base-50);
}
