@import url("mechanics/css/mechanics.css");
@import url("sidebar/css/sidebar.css");
@import url("oracles/css/oracles.css");

.theme-light {
  --color-code: 0, 0, 0;
}

.theme-dark {
  --color-code: 255, 255, 255;
}

.forged-suggest-hint {
  color: var(--color-base-50);
}

.is-phone .modal:has(.forged-modal-content) {
  /* Make modals actually closable on mobile. */
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  top: calc(env(safe-area-inset-top) + 10px);
  right: 12px;
}
